* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  max-width: 90%;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.box-music {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.music {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 2rem;
}

.music__btn {
  width: 10rem;
  height: 8rem;
}

.btn {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
}

.youtube {
  background: url("img/youtube.jpg") no-repeat center center/cover;
}
.soundcloud {
  background: url("img/sou.png") no-repeat center center/cover;
}

/* search */
.music__search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  background: white;
  padding: 0 0.5rem;
  height: 2.5rem;
  border-radius: 5px;
  border: 2px solid gray;
  transition: 0.8s;
  width: 8rem;
}

.search-text {
  border: none;
  background: white;
  outline: none;
  color: black;
  font-size: 18px;
  float: left;

  transition: 0.5s;
  width: 0%;
}

.music__search:hover {
  width: 90%;
}

.music__search:hover > .search-text {
  width: 80%;
}

.fa-search {
  margin: auto;
}

form {
  text-align: center;
  margin-bottom: 2rem;
}

.submitbtn {
  border: none;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  color: gray;
}

.show-content {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 25%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.show-content .show-content__content {
  background-color: #f4f4f4;
  margin: auto;
  padding: 20px;
  border: 1px solid lightgray;
  border-top: 5px solid red;
  width: 90%;
  height: 60%;
}
.show-content .close {
  color: red;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.show-youtube .close:hover {
  color: rgb(196, 0, 0);
}

.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  text-align: center;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}

/* responsive */
@media screen and (min-width: 780px) {
  .box-music {
    display: flex;
    flex-direction: row;
  }
  .music__btn {
    width: 12rem;
    height: 10rem;
  }
  .show-content {
    padding-top: 12%;
  }
}

@media screen and (min-width: 1000px) {
  .show-content .show-content__content {
    width: 70%;
    height: 90%;
  }
}
